<div class="page-account">
    <form [formGroup]="FormName" (ngSubmit)="onsubmit()" class="form account-form" novalidate>
        <img src="assets/img/logo.png" class="account-logo" alt="">
        <h1 class="main-title">Sign up</h1>
        <p class="sub-title">Already have an account? <a routerLink="/account/signin" class="hyperlink">Sign in</a></p>
        <div class="form-group">
            <label for="">Full name<span class="required">*</span></label>
            <input type="text" class="form-control" formControlName="inputfield">
            <div class="main-error" *ngIf="!FormName.controls['inputfield']?.valid && (FormName.controls['inputfield']?.dirty||FormName.controls['inputfield']?.touched)">
                <span class="error-msg" [hidden]="!FormName.controls['inputfield']['errors']!['required']">
                Fullname is required
            </span>
            </div>
        </div>
        <div class="form-group">
            <label for="">Email address<span class="required">*</span></label>
            <input type="text" class="form-control" formControlName="email">
            <div class="main-error" *ngIf="!FormName.controls['email']?.valid && (FormName.controls['email']?.dirty||FormName.controls['email']?.touched)">
                <span class="error-msg" [hidden]="!FormName.controls['email']['errors']!['required']">
                Email is required
            </span>
            </div>
        </div>
        <div class="form-group form-group-password">
            <label for="">Password<span class="required">*</span></label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <i id="pass-status" class="fa fa-eye" aria-hidden="true" onclick="togglepassword()"></i>
            <div class="main-error" *ngIf="!FormName.controls['password']?.valid && (FormName.controls['password']?.dirty||FormName.controls['password']?.touched)">
                <span class="error-msg" [hidden]="!FormName.controls['password']['errors']!['required']">
                    password is required
            </span>
            </div>
        </div>
        <div class="form-group">
            <div style="position: relative;" class="cust-radio">
                <input id="agree" type="checkbox" formControlName="agree">
                <div class="main-error" *ngIf="!FormName.controls['agree']?.valid && (FormName.controls['agree']?.dirty||FormName.controls['agree']?.touched)">
                    <span class="error-msg" [hidden]="!FormName.controls['agree']['errors']!['required']">
                check Agreement 
                </span>
                </div>
                <label for="agree">I agree to the <a href="#" style="position: static;" class="hyperlink">term</a> and <a href="#" style="position: static;" class="hyperlink">Privacy Policy</a></label>
            </div>
        </div>
        <button [disabled]="!FormName.valid" type="submit" class="btn">Sign up</button>
    </form>
</div>