<div class="container">
    <div class="form-round-block card">
        <form class="form">
            <mat-icon mat-dialog-close>close</mat-icon>
            <h1 class="form-title">view role</h1>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">	Role Name</label>
                        <p class="list-title">journal manager</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Abbreviation</label>
                        <p class="list-title">value</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Submission</label>
                        <p class="list-title">value</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>