<div class="form-round-block card">
    <form [formGroup]="FormName" (ngSubmit)="onsubmit()" class="form" novalidate>
        <mat-icon mat-dialog-close>close</mat-icon>
        <h1 class="form-title">add/edit - content </h1>
        <div class="row mb-3">
            <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="">Page </label>
                    <select class="form-control" name="" id="">
                        <option value="">about us</option>
                        <option value="">privecy</option>
                        <option value="">terms</option>
                   </select>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="">title </label>
                    <input type="text" class="form-control" name="" id="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="">Add content </label>
                    <ck-editor name="editor1" formControlName="inputfield" skin="moono-lisa" language="en" [fullPage]="false"></ck-editor>
                </div>
            </div>
        </div>
        <div class="form-action-btn">
            <button [disabled]="!FormName.valid" type="submit" class="btn">add</button>
            <button [disabled]="!FormName.valid" type="submit" class="btn">update</button>
            <button type="button" mat-dialog-close class="btn cancel">cancel</button>
        </div>
    </form>
</div>