<div class="container mt-5">
    <div class="form-round-block card">
        <form [formGroup]="FormName" (ngSubmit)="onsubmit()" class="form" novalidate>
            <h1 class="form-title">Change Password</h1>
            <div class="row">

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">old  password</label>
                        <input type="password" class="form-control" formControlName="inputfield">
                        <div class="main-error" *ngIf="!FormName.controls['inputfield']?.valid && (FormName.controls['inputfield']?.dirty||FormName.controls['inputfield']?.touched)">
                            <span class="error-msg" [hidden]="!FormName.controls['inputfield']['errors']!['required']">
                            inputfield is required
                        </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">new  password</label>
                        <input type="password" class="form-control">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">confirm password</label>
                        <input type="password" class="form-control">
                    </div>
                </div>

            </div>
            <div class="form-action-btn">
                <button [disabled]="!FormName.valid" type="submit" class="btn">update</button>
            </div>
        </form>
    </div>
</div>