<div class="form-round-block card">
    <form [formGroup]="FormName" (ngSubmit)="onsubmit()" class="form" novalidate>
        <mat-icon mat-dialog-close>close</mat-icon>
        <h1 class="form-title">add/edit - Document</h1>
        <div class="row">

            <div class="col-12 col-md-6 col-xl-4">
                <div class="form-group">
                    <label for="">Employee id</label>
                    <input type="text" class="form-control" formControlName="empid" readonly>
                    
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="form-group">
                    <label for="">Document id</label>
                    <input type="text" class="form-control" formControlName="docid" >
                    <div class="main-error" *ngIf="!FormName.controls['docid']?.valid && (FormName.controls['docid']?.dirty||FormName.controls['docid']?.touched)">
                        <span class="error-msg" [hidden]="!FormName.controls['docid']['errors']!['required']">
                            Document Id is required
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="form-group">
                    <label for="">Document </label>
                    <input type="file" class="form-control" formControlName="file" multiple accept="application/pdf" >
                    <div class="main-error" *ngIf="!FormName.controls['file']?.valid && (FormName.controls['file']?.dirty||FormName.controls['file']?.touched)">
                        <span class="error-msg" [hidden]="!FormName.controls['file']['errors']!['required']">
                            File Id is required
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12 col-md-6 col-xl-4">
                <div class="form-group">
                    <label for="">permission level</label>
                    <select class="form-control">
                        <option value="">journal manager</option>
                        <option value="">journal editor</option>
                        <option value="">production manager</option>
                        <option value="">section manager</option>
                        <option value="">copy manager</option>
                    </select>
                </div>
            </div> -->
    

        </div>
        <div class="form-action-btn">
            <button [disabled]="!FormName.valid" type="submit" class="btn">add</button>
            <button [disabled]="!FormName.valid" type="submit" class="btn">update</button>
            <button type="button" mat-dialog-close class="btn cancel">cancel</button>
        </div>
    </form>
</div>