<div class="page-account">
    <!-------------------email-verify------------ -->
    <form class="account-form form text-center">
        <img src="assets/img/logo.png" class="account-logo mb-4 mx-auto" alt="">
        <h1 class="main-title">Account Activated</h1>
        <p class="sub-title">Thank You, Your Email Has Beed Verified. Your Account Is Now Active. Please Use The Link Below To Login To Your Account.</p>
        <button type="button" class="btn">login to your account</button>
    </form>
    <!-------------------email-not-verify------------ -->
    <form class="account-form form text-center">
        <img src="assets/img/logo.png" class="account-logo mb-4 mx-auto" alt="">
        <h1 class="main-title">Not Verified!</h1>
        <p class="sub-title">Your Email Is Not Verified. Please Verify Your Email Address.</p>
        <p class="sub-title">If You Cannot Find The Email Verification Mail In The In The Inbox, Then Please Check The Junk/Spam Folder.</p>
        <button type="button" class="btn">resend verification mail</button>
    </form>
</div>