<div class="container">
    <div class="form-round-block card">
        <form class="form">
            <mat-icon mat-dialog-close>close</mat-icon>
            <h1 class="form-title">view banner</h1>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Banner Name</label>
                        <p class="list-title">home banner</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Title</label>
                        <p class="list-title">THE QUALITY
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group">
                        <label for="">Description</label>
                        <p class="list-title">
                            Consistency in precision and impregnable tenacity have converted all opportunities into optimum consequences in terms of the standard of implants.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>